# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT


if SHIELD_MORNINGSUN

config ZMK_KEYBOARD_NAME
	default "endless"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_MORNINGSUN || SHIELD_EVENINGMOON

config ZMK_SPLIT
	default y

endif