# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_MORNINGSUN
    def_bool $(shields_list_contains,morningsun)

config SHIELD_EVENINGMOON
    def_bool $(shields_list_contains,eveningmoon)